{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="row row-sm">
    <div class="col-md-8 col-lg-6 col-xl-5 m-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sinkronisasi Data</h3>
            </div>
            <div class="card-body">
                <div>
                    Terakhir update: {{current_user.latest_update}}
                </div>
                <div>
                    <a class="btn btn-primary mt-4 mb-0" href="{{url_for('sync.sync')}}"><i class="fe fe-refresh-cw me-2"></i>Sinkronisasi</a>
                </div>
                <br><br>
                <div>
                    Terakhir upload: {{current_user.latest_upload}}
                </div>
                <form method="POST" action="{{url_for('sync.upload')}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <select name="exam_id" id="exam_id" class="form-control form-select select2-show-search mt-4" data-bs-placeholder="Pilih Ujian">
                        <option value="" >Pilih Ujian . .</option>
                        {% for i in exam_list %}
                        <option value="{{i.id}}">{{i.nama}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary mt-4 mb-0"><i class="fe fe-upload me-2"></i>Upload</button>
                    {# <a class="btn btn-primary mt-4 mb-0" href="{{url_for('sync.upload')}}"><i class="fe fe-upload me-2"></i>Upload</a> #}
                </form>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<!-- SELECT2 JS -->
<script src="{{url_for('static', filename='plugins/select2/select2.full.min.js')}}"></script>
{% endblock script %}

{% block script_custom %}
<script>

    $('.select2-show-search').select2({
        minimumResultsForSearch: '',
        width: '100%'
    });

</script>
{% endblock %}
