{% extends 'base.html' %}

{% block header %}
<div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <div>
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href="{{url_for('index')}}">Beranda</a></li>
            <li class="breadcrumb-item1 active" aria-current="page">{{title}}</li>
        </ol>
    </div>
</div>
{% endblock header %}

{% block content %}
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 m-auto">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                        <label for="input-old-password" class="form-label">Password Lama</label>
                        <input name="old_password" type="password" class="form-control" id="input-old-password">
                    </div>
                    <div class="form-group">
                        <label for="input-old-password" class="form-label">Password Baru</label>
                        <input name="new_password" type="password" class="form-control" id="input-new-password">
                    </div>
                    <div class="form-group">
                        <label for="input-new-password-confirm" class="form-label">Konfirmasi Password Baru</label>
                        <input name="new_password_confirm" type="password" class="form-control" id="input-new-password-confirm">
                    </div>
                    <button class="btn btn-primary mt-4 mb-0">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
{% endblock content %}
