<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="FW Studio">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/brand/favicon.ico') }}" />

    <!-- TITLE -->
    <title>{{title}} - CBT APP</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='colors/color1.css') }}" />

    {% block style %}
    
    {% endblock style %}
</head>

<body class="app sidebar-mini ltr">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="{{ url_for('static', filename='images/loader.svg') }}" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="{{url_for('index')}}">
                            <img src="{{ url_for('static', filename='images/brand/logo.png') }}" class="header-brand-img desktop-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-3.png') }}" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO -->
                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                                                <img src="{{ url_for('static', filename='images/users/admin.png') }}" alt="profile-user" class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading">
                                                    <div class="text-center">
                                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">{{current_user.nama}}</h5>
                                                        <small class="text-muted">{{current_user.username}}</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item" href="{{url_for('auth.change_password')}}">
                                                    <i class="dropdown-icon mdi mdi-key"></i> Ganti Password
                                                </a>
                                                <a class="dropdown-item" href="{{url_for('auth.logout')}}">
                                                    <i class="dropdown-icon mdi mdi-logout"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <a class="header-brand1" href="{{url_for('index')}}">
                            <!-- <img src="{{ url_for('static', filename='images/brand/logo.png') }}" class="header-brand-img desktop-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-1.png') }}" class="header-brand-img toggle-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-2.png') }}" class="header-brand-img light-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-3.png') }}" class="header-brand-img light-logo1" alt="logo"> -->
                            <img src="{{ url_for('static', filename='images/brand/logo-white.png') }}" height="60" class="header-brand-img desktop-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-white.png') }}" height="60" class="header-brand-img toggle-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-white.png') }}" height="60" class="header-brand-img light-logo" alt="logo">
                            <img src="{{ url_for('static', filename='images/brand/logo-white.png') }}" height="60" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO -->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                {# <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('index')}}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Beranda</span></a> #}
                                {% if current_user.role in ['admin', 'pembuat_soal'] %}
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('lesson.show')}}"><i class="side-menu__icon fe fe-book"></i><span class="side-menu__label">Pelajaran</span></a>
                                {% endif %}
                                {% if current_user.role in ['admin', 'proktor'] %}
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('exam.show')}}"><i class="side-menu__icon fe fe-clipboard"></i><span class="side-menu__label">Ujian</span></a>
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('school.show')}}"><i class="side-menu__icon fe fe-briefcase"></i><span class="side-menu__label">Sekolah</span></a>
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('rombel.show')}}"><i class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">Rombongan Belajar</span></a>
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('student.show')}}"><i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">Peserta Ujian</span></a>
                                {% endif %}
                                {% if current_user.role in ['admin'] %}
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('admin.show')}}"><i class="side-menu__icon fe fe-user"></i><span class="side-menu__label">Admin</span></a>
                                {% endif %}
                                {% if current_user.role in ['peserta_didik'] %}
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('doing.code')}}"><i class="side-menu__icon fe fe-clipboard"></i><span class="side-menu__label">Ujian</span></a>
                                {% endif %}
                                {% if current_user.role in ['proktor'] %}
                                <a class="side-menu__item" data-bs-toggle="slide" href="{{url_for('sync.show')}}"><i class="side-menu__icon fe fe-refresh-cw"></i><span class="side-menu__label">Sinkronisasi</span></a>
                                {% endif %}
                            </li>
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>

            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        {% block header %}{% endblock header %}
                        <!-- PAGE-HEADER END -->

                        <!-- Content -->
                        {% block content %}{% endblock content %}
                        <!-- /Row -->

                    </div>
                    <!-- CONTAINER CLOSED -->
                </div>
            </div>
            <!--app-content closed-->
        </div>

        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center">
                        Copyright © 2024 Dinas Pendidikan Kab. Gunungkidul
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER CLOSED -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- SIDE-MENU JS -->
    <script src="{{ url_for('static', filename='plugins/sidemenu/sidemenu.js') }}"></script>

    <!-- SIDEBAR JS -->
    <script src="{{ url_for('static', filename='plugins/sidebar/sidebar.js') }}"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="{{ url_for('static', filename='plugins/p-scroll/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/p-scroll/pscroll.js') }}"></script>

    <!-- Color Theme js -->
    <script src="{{ url_for('static', filename='js/themeColors.js') }}"></script>

    <!-- Sticky js -->
    <script src="{{ url_for('static', filename='js/sticky.js') }}"></script>

    <!-- SWEET-ALERT JS -->
    <script src="{{ url_for('static', filename='plugins/sweet-alert/sweetalert.min.js') }}"></script>

    {% block script %}{% endblock script %}
    <script>
        // PAGE LOADING
        $(window).on("load", function (e) {
            $("#global-loader").fadeOut("slow");
            
            {% with errors = get_flashed_messages(with_categories=true) %}
                {% if errors %}
                    {% for category, msg in errors %}
                    $('body').removeClass('timer-alert');
                    swal({
                        title: "Alert",
                        text: '{{msg}}',
                        type: "{{category}}",
                        confirmButtonText: 'OK',
                    });
                    {% endfor %}
                {% endif %}
            {% endwith %}
        })
    </script>
    {% block script_custom %}{% endblock script_custom %}
</body>

</html>